*{
    font-family: 'Bahnschrift', Arial, sans-serif;
}

/*
::selection {
    background: none;
    color: teal;
}*/

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-image: linear-gradient(#000000,#043039);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    cursor: default;
}

a {
    color: inherit;
}
a:hover {
    color: #2de7e7;
}

#encoderMenuContainer {
    text-align: center;
    color: #fff;
}

.encoderMenuButton {
    outline: solid 2px white;
    border-radius: 2px;
    font-size: 30px;
    padding: 5px 30px;
    cursor: pointer;
    user-select: none;
}
.encoderMenuButton:hover {
    outline: solid 2px #2de7e7;
    color: #2de7e7;
}

#encoderPasswordsPage {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    color: #fff;
}

/* top button to save the page */
#topSaveEncodedPasswordsPage {
    position: absolute;
    right: 5%;
    border: solid 1px white;
    padding: 4px 10px;
    border-radius: 5px;
}
#topSaveEncodedPasswordsPage:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Where the new inputs are entered */
#passwordForm {
    display: flex;
    justify-content: space-evenly;
    height: 4vh;
    align-items: center;
    width: 60vw;
    margin-left: 20vw;
    padding-bottom: 5vh;
}

.encoderPasswordFormInput {
    border-bottom: 2px solid rgba(255, 255, 255, 0.34);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: white;
    outline: none;
}

/* add button on form*/
#passwordFormSubmitButton, #passwordFormCancelButton {
    border: solid 1px white;
    padding: 4px 10px;
    border-radius: 5px;
    background: none;
    color: #fff;
}
#passwordFormSubmitButton:hover, #passwordFormCancelButton:hover {
    background: white;
    color: black;
    cursor: pointer;
}
#passwordFormCancelButton {
    display: none;      /* inline */
}

/* Table where the saved ones are displayed */
#passwordTable {
    margin-top: 5vh;
    border-collapse: collapse;
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 1vh;
}
#passwordTableBody tr:hover {background: rgba(255, 255, 255, 0.05);}
th, td {
    border: 1px solid rgba(255, 255, 255, 0.34);     /* change teal to transparent to remove gridlines*/
    padding: 8px;
    text-align: center;
}
#passwordTable td {     /* Color of table body (not heading) */
    color: teal;
}

/* row highlights when selected for edit */
.highlighted-row {
    background-color: #f7f7f7 !important;
}

/* Define the hover effect for the first column */
.websiteName-cell {
    overflow: hidden;
    max-width: 10px;
}

/* Define the hover effect for the second column */
.websiteLink-cell {
    overflow: hidden;
    max-width: 10px;
}

/* Define the hover effect for the third column */
.username-cell {
    overflow: hidden;
    max-width: 10px;
}

/* Define the hover effect for the fourth column (password column) */
.password-cell {
    overflow: hidden;
    max-width: 10px;
}
.password-cell:hover {
    color: #2de7e7 !important;
    cursor: pointer;
}

.delete-btn {
    cursor: pointer;
    color: red;
    font-weight: bold;
}
.delete-btn:hover {
    color: #2de7e7;
}
.edit-btn {
    cursor: pointer;
    color: teal;
    font-weight: bold;
}
.edit-btn:hover {
    color: #2de7e7;
}
.edit-col, .delete-col {
    width: 60px;
    border: none;
}